<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qmall.apple.dao.ShopGoodsMapper">
  <resultMap id="BaseResultMap" type="com.qmall.apple.bean.ShopGoods">
    <id column="gid" jdbcType="VARCHAR" property="gid" />
    <result column="gname" jdbcType="VARCHAR" property="gname" />
    <result column="gimage" jdbcType="VARCHAR" property="gimage" />
    <result column="gprice" jdbcType="REAL" property="gprice" />
    <result column="gtype" jdbcType="INTEGER" property="gtype" />
    <result column="gdesc" jdbcType="VARCHAR" property="gdesc" />
    <result column="gdiscount" jdbcType="REAL" property="gdiscount" />
    <result column="isdelete" jdbcType="INTEGER" property="isdelete" />
    <result column="glabel" jdbcType="INTEGER" property="glabel" />
    <result column="gsex" jdbcType="INTEGER" property="gsex" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    gid, gname, gimage, gprice, gtype, gdesc, gdiscount, isdelete, glabel, gsex
  </sql>
  <select id="selectByExample" parameterType="com.qmall.apple.bean.ShopGoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop_goods
    where gid = #{gid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from shop_goods
    where gid = #{gid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qmall.apple.bean.ShopGoodsExample">
    delete from shop_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qmall.apple.bean.ShopGoods">
    insert into shop_goods (gid, gname, gimage, 
      gprice, gtype, gdesc, 
      gdiscount, isdelete, glabel, 
      gsex)
    values (#{gid,jdbcType=VARCHAR}, #{gname,jdbcType=VARCHAR}, #{gimage,jdbcType=VARCHAR}, 
      #{gprice,jdbcType=REAL}, #{gtype,jdbcType=INTEGER}, #{gdesc,jdbcType=VARCHAR}, 
      #{gdiscount,jdbcType=REAL}, #{isdelete,jdbcType=INTEGER}, #{glabel,jdbcType=INTEGER}, 
      #{gsex,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qmall.apple.bean.ShopGoods">
    insert into shop_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gid != null">
        gid,
      </if>
      <if test="gname != null">
        gname,
      </if>
      <if test="gimage != null">
        gimage,
      </if>
      <if test="gprice != null">
        gprice,
      </if>
      <if test="gtype != null">
        gtype,
      </if>
      <if test="gdesc != null">
        gdesc,
      </if>
      <if test="gdiscount != null">
        gdiscount,
      </if>
      <if test="isdelete != null">
        isdelete,
      </if>
      <if test="glabel != null">
        glabel,
      </if>
      <if test="gsex != null">
        gsex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gid != null">
        #{gid,jdbcType=VARCHAR},
      </if>
      <if test="gname != null">
        #{gname,jdbcType=VARCHAR},
      </if>
      <if test="gimage != null">
        #{gimage,jdbcType=VARCHAR},
      </if>
      <if test="gprice != null">
        #{gprice,jdbcType=REAL},
      </if>
      <if test="gtype != null">
        #{gtype,jdbcType=INTEGER},
      </if>
      <if test="gdesc != null">
        #{gdesc,jdbcType=VARCHAR},
      </if>
      <if test="gdiscount != null">
        #{gdiscount,jdbcType=REAL},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="glabel != null">
        #{glabel,jdbcType=INTEGER},
      </if>
      <if test="gsex != null">
        #{gsex,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qmall.apple.bean.ShopGoodsExample" resultType="java.lang.Long">
    select count(*) from shop_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shop_goods
    <set>
      <if test="record.gid != null">
        gid = #{record.gid,jdbcType=VARCHAR},
      </if>
      <if test="record.gname != null">
        gname = #{record.gname,jdbcType=VARCHAR},
      </if>
      <if test="record.gimage != null">
        gimage = #{record.gimage,jdbcType=VARCHAR},
      </if>
      <if test="record.gprice != null">
        gprice = #{record.gprice,jdbcType=REAL},
      </if>
      <if test="record.gtype != null">
        gtype = #{record.gtype,jdbcType=INTEGER},
      </if>
      <if test="record.gdesc != null">
        gdesc = #{record.gdesc,jdbcType=VARCHAR},
      </if>
      <if test="record.gdiscount != null">
        gdiscount = #{record.gdiscount,jdbcType=REAL},
      </if>
      <if test="record.isdelete != null">
        isdelete = #{record.isdelete,jdbcType=INTEGER},
      </if>
      <if test="record.glabel != null">
        glabel = #{record.glabel,jdbcType=INTEGER},
      </if>
      <if test="record.gsex != null">
        gsex = #{record.gsex,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shop_goods
    set gid = #{record.gid,jdbcType=VARCHAR},
      gname = #{record.gname,jdbcType=VARCHAR},
      gimage = #{record.gimage,jdbcType=VARCHAR},
      gprice = #{record.gprice,jdbcType=REAL},
      gtype = #{record.gtype,jdbcType=INTEGER},
      gdesc = #{record.gdesc,jdbcType=VARCHAR},
      gdiscount = #{record.gdiscount,jdbcType=REAL},
      isdelete = #{record.isdelete,jdbcType=INTEGER},
      glabel = #{record.glabel,jdbcType=INTEGER},
      gsex = #{record.gsex,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qmall.apple.bean.ShopGoods">
    update shop_goods
    <set>
      <if test="gname != null">
        gname = #{gname,jdbcType=VARCHAR},
      </if>
      <if test="gimage != null">
        gimage = #{gimage,jdbcType=VARCHAR},
      </if>
      <if test="gprice != null">
        gprice = #{gprice,jdbcType=REAL},
      </if>
      <if test="gtype != null">
        gtype = #{gtype,jdbcType=INTEGER},
      </if>
      <if test="gdesc != null">
        gdesc = #{gdesc,jdbcType=VARCHAR},
      </if>
      <if test="gdiscount != null">
        gdiscount = #{gdiscount,jdbcType=REAL},
      </if>
      <if test="isdelete != null">
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="glabel != null">
        glabel = #{glabel,jdbcType=INTEGER},
      </if>
      <if test="gsex != null">
        gsex = #{gsex,jdbcType=INTEGER},
      </if>
    </set>
    where gid = #{gid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qmall.apple.bean.ShopGoods">
    update shop_goods
    set gname = #{gname,jdbcType=VARCHAR},
      gimage = #{gimage,jdbcType=VARCHAR},
      gprice = #{gprice,jdbcType=REAL},
      gtype = #{gtype,jdbcType=INTEGER},
      gdesc = #{gdesc,jdbcType=VARCHAR},
      gdiscount = #{gdiscount,jdbcType=REAL},
      isdelete = #{isdelete,jdbcType=INTEGER},
      glabel = #{glabel,jdbcType=INTEGER},
      gsex = #{gsex,jdbcType=INTEGER}
    where gid = #{gid,jdbcType=VARCHAR}
  </update>
</mapper>